.container {
    border: 2px dashed red;
    border-radius: 5px;
}

.card-list {
    border: 1px solid blueviolet;
    /* width : 700px; */
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    /* width: 200px; */
    display: inline-block;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}