<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <!-- typeAlias, package -->
    <!-- <typeAlias alias="userRequest" 
      type="com.inspire.spring_flow.features.user.domain.dto.UserRequestDTO" />
    <typeAlias alias="userResponse" 
      type="com.inspire.lgcns_mybatis.features.user.domain.dto.UserResponseDTO" /> -->
    <!-- user package -->
    <package name="com.inspire.lgcns_mybatis.features.user.domain.dto" />
  </typeAliases>
</configuration>